.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.list > li {
  flex: 0 0 auto;
  margin: 1em;
  text-align: center;
}

.list > li img {
  width: 64px;
  height: 64px;
}
