.list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
}

.list > li {
  flex: 0 0 auto;
  margin: 0 1em 1em 0;
  text-align: center;
}

.list > li img {
  width: 48px;
  height: 48px;
}
