<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Demián Andrés Rodríguez | Full Stack Web Developer, Javascript Engineer & Node.js enthusiast" />
    <meta name="keywords" content="web, developer, javascript, es6, node.js, html, css, react, redux, frontend, backend, aws, testing, unit-testing, mongodb, redis, nosql, mysql" />

    <meta property="og:title" content="Demián Andrés Rodríguez | Full Stack Web Developer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://demianrodriguez.ninja/" />
    <meta property="og:image" content="http://demianrodriguez.ninja/images/photo.jpg" />

    <title>Demián Andrés Rodriguez | Full Stack Web Developer</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/jpeg" href="/images/photo.jpg" />
    <link href="/global.css" rel="stylesheet" type="text/css" />
    <link href="/bundle.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script async src="/bundle.js" type="text/javascript"></script>
    {{{googleAnalyticsCode}}}
  </head>
  <body>
      <main id="root">{{{html}}}</main>
  </body>
</html>
